
.icon-print:before { content: '\e800'; } /* '' */
.icon-quote-left:before { content: '\e801'; } /* '' */
.icon-mic-outline:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-check-1:before { content: '\e805'; } /* '' */
.icon-right-small:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-check-2:before { content: '\e80a'; } /* '' */